{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <h1>Книги</h1>
  <div class="row">
    {% for book in books %}
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>          
            <p class="card-text">
              {% if book.description %}
                {{ book.description|truncatewords:15 }}  
              {% else %}
                Описания пока нет
              {% endif %}
              <p>Стоимость: {{ book.price }} руб.</p>
              <p>Страниц: {{ book.num_pages }} </p>
              <p>Дата издания: {{ book.publication_date }} </p>
            </p>
          </div>
        </div>
      </div>

    {% endfor %}

  </div>
</div>

{% endblock %}